<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Role</th>
                <th>이름</th>
                <th>아이디</th>
                <th>E-Mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="user, num : ${users}">
            <tr>
                <td th:text="${num.count}"></td>
                <td th:text="${user.role.equals('ROLE_USER')} ? '일반' : '관리자'"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.userid}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <button th:onclick="'window.location.href = \'' + @{/admin/edit/{idx} (idx=${user.idx})} + '\''"
                            class="btn btn-primary">
                        수정</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>